@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$default-position: absolute;
$p-blue: #0C70F2;
$p-white: #FFFFFF;
$p-black-bg: rgba(45, 45, 45, 1);
$p-black-letters: #000000;
$p-black-letters-modal: #2D2D2D;
$p-rectangle: #D9D9D9;
$p-checkbox-checked: #F9D1D1;
$p-Poppins: 'Poppins';
$p-Raleway: 'Raleway';
$p-buttonHoverBlue:  #001c41;
$p-buttonHoverGray:  #a1a1a1;
