@use "../../sass/variables" as *;

.subtitleL {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $p-black-letters;
    margin-top: 20px;
    margin-left: 30px;
    font-family: $p-Raleway;
}

.organizationPL {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: $p-Raleway;
    font-size: 20px;
    font-weight: 400;
    color: $p-black-letters;

}

.howToUseL {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
    font-family: $p-Raleway;
    color: $p-black-letters;
    padding: 20px;
}

.tipsL {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style:circle;
    font-size: 20px;
    font-family: $p-Raleway;
    color: $p-black-letters;
    padding: 40px;
}