@use "../../sass/variables" as *;
.ListL {
    display: flex;
    list-style-type: none;
    padding-top: 126px;
    font-size: 30px;
    font-weight: 600;
    font-family: $p-Raleway;
    color: $p-black-letters;
    

    .pTarefaL {
        margin-left: 391px;
    }

    .pStatusL {
        margin-left: 201px;
    }

    .pOpçõesL {
        width: 90px !important;
        margin-left: 167px;
    }

    .lineL {
        width: 685px;
        height: 6px;
        margin-top: 10px;
        background: $p-rectangle;
        margin-left: -400px;
        background-color: $p-black-letters;

        
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {


    .pTarefaL {
        margin-left: 20px !important;
        font-size: 18px;
    }

    .pStatusL {
        width: 60px !important;
        margin-left: 50px !important;
        font-size: 18px;
    }

    .pOpçõesL {
    
        margin-left: 30px !important;
        font-size: 18px;
    }

    .lineL {
        position: absolute !important;
        width: 300px !important;
        margin-left: -170px !important;
        
    }
}


